{% extends "base.html" %} 
{% load static %} 

{% block content %}
<article style="padding-top: 180px;">
    <!-- <div class="search">
        <input type="search" placeholder="Maruza qidirmoq">
        <a class="icon" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div> -->

    <div class="qories">
        <h1 class="domla-h1">DOMLALAR RO'YXATI:</h1> <hr style="margin-top: 20px;">
        <div class="qori-name">
            {% for domla in domlalar %}
                <a href="{{ domla.get_absolute_url }}">{{ domla.name }}</a>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock content %}